5x Token - Freighter
1x Title - Scout (Custom)
2x Pilot - Academy Pilot (TIE Fighter)
1x Pilot - Obsidian Squadron Pilot (TIE Fighter)
2x Pilot - Bandit Squadron Pilot (Z95)
3x Miniature - Tie Fighter
2x Miniature - Z95 Headhunter

Points Breakup
Empire: 37
Rebels: 37