1x Token - XQ1 D-34
2x Pilot - Obsidian Squadron Pilot (TIE Fighter)
1x Pilot - Black Squadron Pilot (TIE Fighter)
2x Pilot - Gray Squadron Pilot (Y-Wing)
1x Pilot - Red Squadron Pilot (X-Wing)
3x Miniature - Tie Fighter
2x Miniature - Y-Wing
1x Miniature - X-Wing
5x Secondary Weapon - Proton Torpedoes

Points Breakup
Empire: 40
Rebels: 83